body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #333;
        }

        .chessboard {
            width: 500pxpx;
            height: 480px;
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            border: 5px solid #2eabaf;
        }

        .square {
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 36px;
        }

        .white {
            background-color: #f0d9b5;
        }

        .black {
            background-color: #b58863;
        }
        ?